<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{#if title}}{{title}} - gulp.js 中文文档{{else}}gulp.js - 基于流的自动化构建工具。{{/if}} | gulp.js 中文网</title>

    <meta name="description" content="Gulp.js 是一个自动化构建工具，开发者可以使用它在项目开发过程中自动执行常见任务。Gulp.js 是基于 Node.js 构建的，利用 Node.js 流的威力，你可以快速构建项目并减少频繁的 IO 操作。Gulp.js 源文件和你用来定义任务的 Gulp 文件都是通过 JavaScript（或者 CoffeeScript ）源码来实现的。">
    <meta name="keywords" content="Gulp.js,Gulp,Node.js,Node,JavaScript,CoffeeScript,Grunt,Gruntjs,Stream，流,自动化,Make">
    <meta name="author" content="gulp.js 中文网">
    <link rel="icon" href="/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.4/styles/monokai_sublime.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/my.css">
    <link rel="stylesheet" href="/css/yue.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gulp 中文网</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">首页</a></li>
            <li><a href="/docs/">中文文档</a></li>
            <li><a href="/docs/getting-started/">入门指南</a></li>
            <li><a href="/docs/api/">API</a></li>
            <li><a href="/docs/writing-a-plugin/">插件开发</a></li>
            <li><a href="/docs/faq/">常见问题</a></li>
            <li><a href="/docs/recipes/">使用技巧</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    {{{body}}}

    <!-- Site footer -->
    <footer class="footer">
      <div class="container">
        <p>&copy; Gulp 中文网 2015</p>
        <p><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a> | 京公网安备11010802014853</p>
      </div>
    </footer>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://cdn.bootcss.com/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/site.js"></script>
    {{> tongji}}
  </body>
</html>
